@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat bold';
    src: url('../fonts/Montserrat-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}
body {
	font-family: "montserrat";
}
#header {
	background-color: rgba(255,255,255,1);
}
#dn {
	color: rgba(24,188,156,1);
	background-color: (255,255,255,1));
	border: rgba(24,188,156,1) 2px solid;
	box-shadow: 6px 8px rgba(24,188,156,1);
	text-transform: none;
	font-family: "montserrat bold";
	padding-left: 15px;
	padding-right: 15px;
}
#padd {
	padding-top: 100px;
}
#marg {
	margin-bottom: 50px;
	display: inline-block;
}
#marg2 {
	margin-top: 50px;
}
#desc {
	color: rgba(0,0,0,1);
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}
#cont {
	color: rgba(0,0,0,1);
	font-size: large;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}
.cont2 {
	color: rgba(24,188,156,1);
	font-weight: 900;
}
hr.seperator {
	
	color: rgba(0,0,0,1);
    padding: 0;
    border: none;
    border-top: solid 2px;
    text-align: center;
    max-width: 250px;
    margin: 25px auto 30px;
}
