@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat bold';
    src: url('../fonts/Montserrat-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lato';
    src: url('../fonts/Lato-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lato bold';
    src: url('../fonts/Lato-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lato italic';
    src: url('../fonts/Lato-Italic.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lato bold italic';
    src: url('../fonts/Lato-BoldItalic.ttf');
    font-weight: normal;
    font-style: normal;
}
body {
	font-family: "montserrat";
}
#site-title {
	font-family: "montserrat bold";
}
.hr {
	width: 200px;
	border: rgba(255,255,255,1) solid 2px;
	color: rgba(255,255,255,1);
	margin-left: auto;
	margin-right: auto;
}
.hr2 {
	width: 200px;
	border: rgba(44,44,44,0.85) solid 2px;
	color: rgba(44,44,44,0.85);
	margin-left: auto;
	margin-right: auto;
}
.hr1 {
	width: 200px;
	border: rgba(255,255,255,1) solid 2px;
	color: rgba(255,255,255,1);
	margin-left: auto;
	margin-right: auto;
}
.hr3 {
	width: 100px;
	border: rgba(255,255,255,1) solid 1px;
	color: rgba(255,255,255,1);
	margin-left: auto;
	margin-right: auto;
}
.emoji {
	color: #28c8f0 !important;
}