@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'GenuineDomains';
    src: url('../fonts/GenuineDomains.eot');
    src: url('../fonts/GenuineDomains.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GenuineDomains.woff') format('woff'),
         url('../fonts/GenuineDomains.ttf') format('truetype'),
         url('../fonts/GenuineDomains.svg#GenuineDomains') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GenuineDomainsBlack';
    src: url('../fonts/GenuineDomainsBlack.eot');
    src: url('../fonts/GenuineDomainsBlack.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GenuineDomainsBlack.woff') format('woff'),
         url('../fonts/GenuineDomainsBlack.ttf') format('truetype'),
         url('../fonts/GenuineDomainsBlack.svg#GenuineDomainsBlack') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GenuineDomainsBold';
    src: url('../fonts/GenuineDomainsBold.eot');
    src: url('../fonts/GenuineDomainsBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GenuineDomainsBold.woff') format('woff'),
         url('../fonts/GenuineDomainsBold.ttf') format('truetype'),
         url('../fonts/GenuineDomainsBold.svg#GenuineDomainsBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GenuineDomainsItalic';
    src: url('../fonts/GenuineDomainsItalic.eot');
    src: url('../fonts/GenuineDomainsItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GenuineDomainsItalic.woff') format('woff'),
         url('../fonts/GenuineDomainsItalic.ttf') format('truetype'),
         url('../fonts/GenuineDomainsItalic.svg#GenuineDomainsItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bitcoinregular';
    src: url('../fonts/bitcoin-webfont.eot');
    src: url('../fonts/bitcoin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bitcoin-webfont.woff2') format('woff2'),
         url('../fonts/bitcoin-webfont.woff') format('woff'),
         url('../fonts/bitcoin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'btc';
  src:  url('../fonts/btc.eot?wsfr8x');
  src:  url('../fonts/btc.eot?wsfr8x#iefix') format('embedded-opentype'),
    url('../fonts/btc.ttf?wsfr8x') format('truetype'),
    url('../fonts/btc.woff?wsfr8x') format('woff'),
    url('../fonts/btc.svg?wsfr8x#btc') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'btc' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-btc-brands:before {
  content: "\e900";
}
.navbar {
	background-color: #dc873f;
	border-bottom: rgba(255,255,255,1) thick solid;
}
footer .footer-above {
}
footer .footer-below {
}
body {
	font-family: "GenuineDomains";
	min-width: 380px;
	overflow-x: auto;
}
#site-title {
	font-family: "GenuineDomainsBlack";
}
.hr1 {
	width: 200px;
	border: rgba(0,0,0,0.85) solid 2px;
	color: rgba(0,0,0,0.85);
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0px 0px 2px #fff;
	-webkit-font-smoothing: antialiased;
}
.hr1a {
	width: 200px;
	border: rgba(0,0,0,0.85) solid 2px;
	color: rgba(0,0,0,0.85);
	margin-left: auto;
	margin-right: auto;
}
.hr2 {
	width: 200px;
	border: rgba(255,255,255,1) solid 2px;
	color: rgba(255,255,255,1);
	margin-left: auto;
	margin-right: auto;
}
.hr3 {
	width: 100px;
	border: rgba(255,255,255,1) solid 1px;
	color: rgba(255,255,255,1);
	margin-left: auto;
	margin-right: auto;
}
#title1 {
	text-shadow: 0px 0px 2px #fff;
	-webkit-font-smoothing: antialiased;
}
#title2 {
}
#contact {
	padding-left: 20px;
	padding-right: 20px;
}
/* contact and form-deco in conjunction with js contact id
#contact {
	display: none;
	border: rgba(255,255,255,1) thin double;
	background-color: rgba(24,188,156,1);
	padding: 20px;
}
#form-deco {
	color: rgba(40,200,240,1);
	text-decoration: underline;
}
*/
.send {
	background-color: rgba(51,204,255,1);
	color: rgba(0,0,0,1);
	font-family: "GenuineDomainsBold";
	font-size: 12px;
}
.form {
	width: 99%;
	margin: 0;
	color: rgba(0,0,0,1);
	border: rgba(24,188,156,1) 2px solid;
	box-shadow: 0px 0px 2px rgba(24,188,156,1);
	text-align: center;
}
#more {
	font-variant: normal;
	color: rgba(0,0,0,1);
	font-family: "GenuineDomainsItalic";
	text-shadow: 0px 0px 1px #fff;
	-webkit-font-smoothing: antialiased;
}
#flying {
	font-family: "GenuineDomainsBold";
	text-transform: none;
	border: none;
	padding: 0;
	box-shadow: none;
}
#carpet	{
	font-family: "GenuineDomains";
	text-transform: none;
	border: none;
	padding: 0;
	box-shadow: none;
}
.flyer {
	border: rgba(24,188,156,1) solid 2px;
	color: rgba(24,188,156,1);
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}
a.more {
	text-decoration:;
	color: rgba(51,102,153,1);
	font-family: "GenuineDomainsItalic";
}
h3 {
	background-color: rgba(255,255,255,1);
	border: rgba(24,188,156,1) 1px solid;
	padding: 5px;
	color: rgba(24,188,156,1);
	box-shadow: 3px 5px rgba(24,188,156,1);
	font-family: "GenuineDomainsBold";
	overflow: hidden;
}
h3.main {
	background-color: rgba(255,255,255,1);
	border: rgba(0,0,0,.5) 1px solid;
	padding: 5px;
	color: rgba(24,188,156,1);
	box-shadow: 3px 5px rgba(0,0,0,.5);
	font-family: "GenuineDomainsBold";
	overflow: hidden;
}
h3.info {
	background-color: #2c3e50;
	padding: 0px;
	box-shadow: none;
	border: none;
	color: rgba(255,255,255,1);
}
h3.faq {
	background-color: #FFFFFF;
	padding: 0px;
	box-shadow: none;
	border: none;
	color: rgba(24,188,156,1);
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.footer-contact {
	color: rgba(40,200,240,1);
	font-family: "GenuineDomainsBold";
	font-size: 18px;
}
.footer-content {
	color: rgba(255,255,0,1);
	font-size: 18px;
}
#footer-content {
	color: rgba(153,153,153,1);
}
#crypto {
	font-family: Bitcoin, "bitcoinregular";
}
#btc {
	font-family: "btc";
}
.dynamic-content {
    display:none;
	font-family: "GenuineDomainsBold";
	text-shadow:
-1px -1px 0 #fff,
1px -1px 0 #fff,
-1px 1px 0 #fff,
1px 1px 0 #fff;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
.bg-img {
	background-image: url(../img/background.jpg);
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
}
.bg-img2 {
	background-image: url(../img/background3.png);
	background-size: auto;
	background-position: top;
	background-repeat: repeat;
}
section h2 {
  font-size: 3em;
}
@media (max-width: 767px) {
  #portfolio.bg-img {
    background-image: url(../img/background2.jpg);
  }
}
@media (max-width: 768px) {
  section h2 {
    font-size: 2em;
  }
  section #title1 {
	text-shadow: 0px 0px 1px #fff;
	-webkit-font-smoothing: antialiased;
  }
  hr.hr1 {
	border: rgba(0,0,0,0.85) solid 1px;
	width: 150px;
	box-shadow: 0px 0px 1px #fff;
	-webkit-font-smoothing: antialiased;
  }
  hr.hr1a {
	border: rgba(0,0,0,0.85) solid 1px;
	width: 150px;
  }
  hr.hr2 {
	border: rgba(255,255,255,0.85) solid 1px;
	width: 150px;
  }
}
@media (max-width: 512px) {
header .intro-text .name {
  font-size: 2.25em;
}
}